.container-profile{
    display: flex;
    background-color: #212529;
    min-height: 100%;
    padding: 50px;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
}

.container-wd {
    max-width: 1400px;
    margin: 0 auto;
}