@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, .App {
  max-width: unset;
}

#root, .App, body, html {
  height: 100%;
}

html {
  max-width: unset;
  height: 100%;
}
